/* 
* {
    color: purple;
    background-color: cyan;
}
 */
body {
    background-color: #f5abc9;
}

button {
    font-size: 30px;
    background-color: #fff5ab
}
h1 {
    color: #c449c2;
}
h2 {
    color: #f21170;
}
/*h1, h2{
    color: crimson;
} */
span{
    color: #822659;
}
#signme{
    background-color: #aa2ee6;
    color: #ffffff;
}
.tag {
    background-color: #1cc5dc;
    font-size: 16px;
}
.me{
    background-color: #faf1e6;
}

section a{
    color: #00adb5;
}
footer a{
    color: #cf0000;
}
.post a{
    color: cadetblue;
    font-weight: 700;
    text-decoration: none;
}
/*input + button{
    background-color: #eca3f5;
}*/
/*h2 + button{
font-size: 20px;
background-color: mediumseagreen;
}*/
footer > a{
    color: #890596;
}
/*input[type="password"]{
    color: #1cc5dc;
}*/
input{
    color: #ff79cd;
}
section[class="post"]{
    background-color: #aa2ee6;
}
a[href*="google"]{
    color: #23049d;
}

button:hover{
    background-color: #cf0000;
    color: #faf1e6;
}
/*.post button:hover{
    background-color: #cf0000;
    color: #faf1e6;
}*/
.post a:hover{
    text-decoration: pink underline wavy;
}
.post button:active{
    background-color: #ffc93c;
}
.post:nth-of-type(3){
    background-color: #dfe8dc;
}
h2::first-letter{
    font-size: 50px;
}
p::first-line{
    color: #aa2ee6;
}
p::selection{
    background-color: #f21170;
    color: #fcecdd;
}
button:hover{
    background-color: mediumaquamarine;
    /*font-size: 10px;*/
}
/*button{
    background-color: blue !important;
}*/
