h2 {
    color: #5FCFFC;
    background-color: #949700;
}

button {
    color: magenta;
    background-color: rgb(252, 8, 18);
   
}

p{
    color: #808000;
    background: rgb(255, 200, 200);
}
body{
    background: #cc55ee;
}
body{color: #ffffff